    /* Reset base styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    a {
        text-decoration: none;
        color: #333;
    }

    body,
    html {
        width: 100%;
        height: 100%;
        font-family: "Gabarito", sans-serif;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scrollbar-width: 50px;
    }

    .main-container {
        width: 100vw;
    }


    /* first page */
    /* Header  */
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 3vw;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.1vw;
        z-index: 10;

    }

    /* Main page picture  */
    .header-logo {
        height: 3.5vw;
        width: 3.5vw;
        border-radius: 50%;
        background-color: black;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoQ6NNciN1iGBojfUeiYq9p19sRQlKrlyXVw&s);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header-main-heading {
        font-size: 2vw;
        font-family: "Gabriela", serif;
        letter-spacing: 0.3vw;
        margin-right: 34vw;
    }

    .header-nav {
        display: flex;
        gap: 2vw;
    }

    .header-link {
        font-size: 1.2vw;
        cursor: pointer;
        color: #333;

    }

    /* Hover  */
    .header-link:hover,
    a:hover {
        color: rgb(255, 252, 252);
        background-color: rgb(165, 165, 165);


    }

    /* second page */
    /* Main Page */
    .main-page {
        height: 55vw;
        width: 100%;
        background-image: url('../../assets/image/DeWatermark.ai_1757740117691.jpeg');
        background-size: cover;
        background-position: center;
        position: relative;
        padding-top: 4vw;

    }

    .main-content {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3vw;
    }

    .heading-01 {
        font-size: 4vw;
        letter-spacing: 0.7vw;
        font-family: "Gabriela", serif;
        color: white;
        margin-bottom: 1.8vw;
    }

    .heading-02 {
        font-size: 1.4vw;
        letter-spacing: 0.25vw;
        color: white;
        margin-bottom: 2vw;
    }

    .button-group {
        display: flex;
        gap: 1.2vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-call,
    .button-explore {
        height: 3.4vw;
        width: 12vw;
        border-radius: 2vw;
        font-size: 1.3vw;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    /* hover  button */
    .button-call:hover,
    .button-explore:hover {
        background-color: white;
        color: black;
    }

    /* New Page */
    /* Brand Page */
    .brand-page {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        background-color: white;
        height: 6vw;
        display: flex;
        align-items: center;
        position: relative;
    }

    .logo-track {
        display: inline-flex;
        animation: scrollLeft 5s linear infinite;
    }

    .log-company {
        flex: 0 0 auto;
        width: 200px;
        margin-right: 2vw;
    }

    .log-company img {
        max-height: 9vw;
        width: auto;
        display: block;
    }

    @keyframes scrollLeft {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }


    /* New page  */
    /* offer page new sec */
    .offer-page {
        width: 100%;
        height: 50vw;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, black, #716E6E, #D9D4D4);

    }

    /* page-one */

    .heading-offer {
        height: 4vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .heading-main {
        height: 80%;
        width: 20vw;
        text-align: center;
        color: white;
        padding-top: 0.4vw;
        border-radius: 20px;
        font-size: 1.9vw;
        background: linear-gradient(to right, black, #716E6E, #D9D4D4);
    }

    /* page-two */
    .main-offer {
        width: 100%;
        height: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .offer-page-1 {
        width: 30%;
        height: 90%;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 10px rgba(105, 105, 105, 0.86);
        background: linear-gradient(to right, black, #716E6E, #D9D4D4);
        background-image: url(../../assets/image/Screenshot\ 2025-09-21\ at\ 16.09.27.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .offer-page-2 {
        width: 30%;
        height: 89%;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 10px rgba(105, 105, 105, 0.86);
        background: linear-gradient(to right, black, #716E6E, #D9D4D4);
        background-image: url(../../assets/image/Media.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .offer-page-3 {
        width: 30%;
        height: 89%;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 10px rgba(105, 105, 105, 0.86);
        background: linear-gradient(to right, black, #716E6E, #D9D4D4);
        background-image: url(../../assets/image/Media\ copy.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .offer-page-1:hover,
    .offer-page-2:hover,
    .offer-page-3:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease;
    }

    /* New page */
    /* poduct section  */
    .product-page {
        width: 100%;
        height: 57vw;
        display: flex;
        flex-direction: column;

    }

    /* new section-part-01 */
    .selling-product {
        width: 100%;
        height: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .heading-name {
        height: 90%;
        width: 100%;
        font-size: 2vw;

    }

    .line-under-that {
        height: 2px;
        width: 95%;
        background-color: black;
        margin-bottom: 1vw;
        margin-left: 1.3vw;
        border: 1px black solid;
    }

    /* New section-part-02 */
    .selling-product-01 {
        width: 100%;
        height: 55vw;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, rgb(49, 49, 49), rgb(101, 101, 101), rgb(207, 207, 207));
    }

    /* first-container */
    .selling-section {
        height: 100%;
        width: 20%;
        background: linear-gradient(to right, rgb(169, 169, 169), rgb(101, 101, 101), rgb(29, 29, 29));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1vw;
        padding-top: 2vw;

    }

    /* one  other button */
    .button-01 {
        height: 2.1vw;
        width: 55%;
        text-align: center;
        font-size: 1.5vw;
        color: white;
        cursor: pointer;

    }

    .button-01:hover {
        border-radius: 25px;
        color: orange;
        display: block;
        background-color: #000000;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .product-showing {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    /* two class */

    .product-selling-page-01 {
        height: 50%;
        width: 100%;
        background: linear-gradient(to right, rgb(49, 49, 49), rgb(101, 101, 101), rgb(189, 189, 189));
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    /* three class of cart */
    .class-product-01 {
        height: 90%;
        width: 30%;
        background-color: white;
        border-radius: 12px;
        display: grid;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    }

    .class-product-02 {
        height: 90%;
        width: 30%;
        background-color: white;
        border-radius: 12px;
        display: grid;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .class-product-03 {
        height: 90%;
        width: 30%;
        background-color: white;
        border-radius: 12px;
        display: grid;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    /* photo of the product class -001*/
    /* class-01 */
    .product-page-photo-001 {
        text-align: center;
    }

    .detail-of-product-001 {
        font-size: 1.5vw;
        text-align: center;
    }

    /* class-02 */
    .product-page-photo-002 {

        text-align: center;
    }

    .detail-of-product-002 {
        font-size: 1.5vw;
        text-align: center;
    }

    /* class-03 */
    .product-page-photo-003 {

        text-align: center;
    }

    .detail-of-product-003 {
        font-size: 1.5vw;
        text-align: center;
    }

    /* class-new -one */
    .product-selling-page-02 {
        height: 50%;
        width: 100%;
        background: linear-gradient(to right, rgb(49, 49, 49), rgb(101, 101, 101), rgb(189, 189, 189));
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .class-product-11 {
        height: 90%;
        width: 30%;
        background-color: white;
        border-radius: 12px;
        display: grid;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(255, 255, 255) 0px 8px 16px -8px;
    }

    .class-product-12 {
        height: 90%;
        width: 30%;
        background-color: white;
        border-radius: 12px;
        display: grid;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(255, 255, 255) 0px 8px 16px -8px;
    }

    .class-product-13 {
        height: 90%;
        width: 30%;
        border-radius: 12px;
        background-color: white;
        display: grid;
        grid-template-rows: 2fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(255, 255, 255) 0px 8px 16px -8px;
    }

    /* photo of the product class-002 */
    /* class-04 */
    .product-page-photo-004 {
        text-align: center;

    }

    .detail-of-product-004 {
        font-size: 1.5vw;
        text-align: center;
    }

    /* class-05 */
    .product-page-photo-005 {
        text-align: center;
    }

    .detail-of-product-005 {
        font-size: 1.5vw;
        text-align: center;
    }

    /* class-06 */
    .product-page-photo-006 {
        text-align: center;
    }

    .detail-of-product-006 {
        font-size: 1.5vw;
        text-align: center;
    }


    /* New Page  */
    /* service-center-page */
    .service-center-page {
        width: 100%;
        height: 62vw;
        display: flex;
        flex-direction: column;

    }

    /* New class */
    .heading-service {
        height: 6vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #000000;
    }

    .heading-one {
        height: 90%;
        width: 100%;
        font-size: 2vw;
        padding-left: 2vw;
        padding-top: 1.2vw;
        color: white;
    }

    .service-page-line {
        height: 0.1vw;
        width: 95%;
        background-color: rgb(255, 255, 255);
        margin-bottom: 15px;
        margin-left: 30px;

    }

    /* New Class  */
    .service-product-page {
        height: 56vw;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    /* Class New one -001 */
    .new-page-of-service {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(88, 88, 88), rgb(173, 173, 173)); */
        font-family: "Judson", serif;
        background-color: #000000;
    }

    /* New Class of All */

    .class-of-service {
        height: 94%;
        width: 26%;
        background-color: white;
        border-radius: 15px;
        box-shadow: rgba(240, 240, 240, 0.725) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }


    /* inner class of photo */

    .photo-mobile-repair {
        height: 26vw;
        width: 25vw;
        background-color: #000000;
        border-radius: 10px;
        background-image: url(../../assets/image/mobile-repairing.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .photo-laptop-repair {
        height: 26vw;
        width: 25vw;
        background-color: #000000;
        border-radius: 10px;
        background-image: url(../../assets/image/laptop\ repairing.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .photo-mobile-software {
        height: 26vw;
        width: 25vw;
        background-color: #000000;
        border-radius: 10px;
        background-image: url(../../assets/image/software.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Class New One -002*/
    .new-page-of-service-02 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Judson", serif;
        background-color: #000000;
    }


    /* inner class of photo */
    .mobile-dispaly-01 {
        height: 26vw;
        width: 25vw;
        background-color: #000000;
        border-radius: 10px;
        background-image: url(../../assets/image/mobile-glass-01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Second-handmobile-01 {
        height: 26vw;
        width: 25vw;
        background-color: #000000;
        border-radius: 10px;
        background-image: url(../../assets/image/mobile-second\ hand-02.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mobile-acceries-01 {
        height: 26vw;
        width: 25vw;
        background-color: #000000;
        border-radius: 10px;
        background-image: url(../../assets/image/wmremove-transformed.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 100%;
    }

    .hover-pair {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 2.2vw;
        color: rgb(255, 213, 0);
        padding-top: 22vw;
        padding-left: 0.7vw;
        letter-spacing: 0.2vw;
        word-spacing: 0.1vw;
        border-radius: 1vw;

    }

    .class-of-service:hover {
        background: linear-gradient(to top, rgba(172, 243, 162, 0.916), rgba(0, 0, 0, 0));
        transform: scale(1.03);
        transition: transform 0.3s ease;
        opacity: 100%;
    }

    .hover-pair:hover {
        height: 100%;
        width: 100%;
        background-color: #00000000;
        color: #ff0000;
        opacity: 100%;
        z-index: 5;
    }

    .mobile-acceries-01:hover,
    .mobile-dispaly-01:hover,
    .Second-handmobile-01:hover,
    .photo-laptop-repair:hover,
    .photo-mobile-repair:hover,
    .photo-mobile-software:hover {
        opacity: 60%;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
    }

    /* New Class jio */
    /* New Page of Jio Phone */
    .Phone-page-of-jio {
        width: 100%;
        height: 43vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(207, 207, 207);
    }

    /* new class */
    .heading-phone-jio {
        width: 100%;
        height: 6vw;
        display: flex;
        flex-direction: column;
    }

    .heading-name {
        height: 90%;
        width: 100%;
        font-size: 1.5vw;
        padding-left: 1.2vw;
        padding-top: 1vw;
    }

    .line-of-heading {
        height: 0.1vw;
        width: 95%;
        border: 1px black solid;
        background-color: black;
        margin-bottom: 0.5vw;
        margin-left: 1vw;

    }

    /* new class */
    .phone-page-one {
        width: 100%;
        height: 36vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .class-01-page {
        width: 22%;
        height: 90%;
        background: linear-gradient(to top, rgb(32, 32, 32), rgb(117, 117, 117), rgb(172, 172, 172));
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.682) 0px 6px 6px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;

    }

    .class-02-page {
        width: 22%;
        height: 90%;
        background: linear-gradient(to top, rgb(32, 32, 32), rgb(117, 117, 117), rgb(172, 172, 172));
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.682) 0px 6px 6px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .class-03-page {
        width: 22%;
        height: 90%;
        background: linear-gradient(to top, rgb(32, 32, 32), rgb(117, 117, 117), rgb(172, 172, 172));
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.682) 0px 6px 6px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .class-04-page {
        width: 22%;
        height: 90%;
        background: linear-gradient(to top, rgb(32, 32, 32), rgb(117, 117, 117), rgb(172, 172, 172));
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.682) 0px 6px 6px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .class-01-page:hover,
    .class-02-page:hover,
    .class-03-page:hover,
    .class-04-page:hover {
        transform: scale(1.04);
        transition: transform 0.4s ease;
        box-shadow: rgba(244, 244, 244, 0.476) 0px 10px 20px, rgba(0, 0, 0, 0.682) 0px 6px 6px;
    }

    /* Photo of jio phone */
    .photo-of-jio-sellimg-product-01 {
        height: 18vw ;
        width: 16vw;
        background-color: #000000;
        background-image: url(https://cdn.jiostore.online/v2/jmd-asp/jdprod/wrkr/products/pictures/item/free/resize-w:250/ghWjg6EzfV-jiobharat-b2-581107385-i-1-1200wx1200h.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        margin-left: 3vw;
        margin-top: 1vw;
      text-align: center;
    }

    .name-of-jio-phone-001 {
        font-size: 1.3vw;
        text-align: center;
        color: white;
    }

    .photo-of-jio-sellimg-product-02 {
        height: 18vw ;
        width: 16vw;
        background-color: #000000;
        background-image: url(https://cdn.jiostore.online/v2/jmd-asp/jdprod/wrkr/products/pictures/item/free/resize-w:250/3mA7cHfrQw-jiobharat-j1-581107398-i-1-1200wx1200h.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        margin-left: 3vw;
        margin-top: 1vw;
    }

    .name-of-jio-phone-002 {
        font-size: 1.3vw;
        text-align: center;
        color: white;
    }

    .photo-of-jio-sellimg-product-03 {
        height: 18vw ;
        width: 16vw;
        background-color: #000000;
        background-image: url(https://cdn.jiostore.online/v2/jmd-asp/jdprod/wrkr/products/pictures/item/free/resize-w:250/fQQSgcjWNu-jiobharatbharat-v3-581107375-i-1-1200wx1200h.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        margin-left: 3vw;
        margin-top: 1vw;
    }

    .name-of-jio-phone-003 {
        font-size: 1.3vw;
        text-align: center;
        color: white;
    }

    .photo-of-jio-sellimg-product-04 {
        height: 18vw ;
        width: 16vw;
        background-color: #000000;
        background-image: url(https://cdn.jiostore.online/v2/jmd-asp/jdprod/wrkr/products/pictures/item/free/resize-w:150/BTK8QZ140j-jiobharatbharat-v4-581107376-i-1-1200wx1200h.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        margin-left: 3vw;
        margin-top: 1vw;
    }

    .name-of-jio-phone-004 {
        font-size: 1.3vw;
        text-align: center;
        color: white;
    }


    /* New Page */
    /* Shop by Price */
    .shop-by-price {
        width: 100%;
        height: 28vw;
        background: linear-gradient(to right, rgb(233, 233, 233), rgba(150, 150, 150, 0.673), rgba(62, 62, 62, 0.372));
    }

    /* new  class */
    .shop-by-price-01 {
        height: 5vw;
        width: 100%;
        display: flex;
        flex-direction: column;


    }

    .heading-name {
        height: 90%;
        width: 100%;
        font-size: 2vw;
        padding-left: 2vw;
        padding-top: 0.9vw;
    }

    .line-of-offer {
        height: 0.1vw;
        width: 95%;
        border: 1px solid black;
        background-color: black;
        margin-left: 30px;

    }

    /* New Class  */
    .photo-of-offer {
        width: 100%;
        height: 22vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

    /* box off that container */
    .class-offer-001 {
        width: 22vw;
        height: 22vw;
        background-image: url(../../assets/image/image-offer-1.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .class-offer-002 {
        width: 22vw;
        height: 22vw;
        background-image: url(../../assets/image/image-offer-2.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .class-offer-003 {
        width: 22vw;
        height: 22vw;
        background-image: url(../../assets/image/image-offer-3.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .class-offer-004 {
        width: 22vw;
        height: 22vw;
        background-image: url(../../assets/image/image-offer-4.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .class-offer-001:hover,
    .class-offer-002:hover,
    .class-offer-003:hover,
    .class-offer-004:hover {
        transform: scale(1.04);
        transition: transform 0.4s ease;

    }

    /* New page */
    /* Contact Section Page */
    .contact-section-page {
        width: 100%;
        height: 40vw;
        display: flex;
        flex-direction: column;
    }

    /* class-001 of contact section */
    .contact-heading {
        width: 100%;
        height: 6vw;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, #313131, #515151, #807E7D, #A19B9B);

    }

    .heading-name-contact {
        height: 90%;
        width: 100%;
        font-size: 2vw;
        padding-left: 2vw;
        padding-top: 1vw;
        color: white;
    }

    .line-of-heading-contact {
        height: 2px;
        width: 95%;
        background-color: rgb(255, 255, 255);
        margin-bottom: 15px;
        margin-left: 30px;
        color: white;
    }

    /* Class -002 of Contact Section */

    .main-section-of-contact {
        width: 100%;
        height: 35vw;
        background: linear-gradient(to right, #313131, #515151, #807E7D, #A19B9B);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-of-main {
        width: 90%;
        height: 15vw;
        /* background: linear-gradient(to right, #a19b9b8f, #807e7d82, #5151516f, #3131316d); */
        background-color: #000000;
        border-radius: 4vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* new-page in container  */
    .email-page {
        padding-top: 2vw;
        font-size: 1.3vw;
        color: white;
        padding-left: 14vw;

    }

    .contact-page {
        padding-top: 2vw;
        font-size: 1.3vw;
        color: white;
        padding-left: 13vw;
    }

    .phone-page {
        padding-top: 2vw;
        font-size: 1.3vw;
        color: white;
        padding-left: 13.5vw;
    }

    .pranay {
        padding-top: 1vw;
        font-size: 1.4vw;
        color: white;
        padding-left: 6.5vw;
    }

    .pranay-01 {
        padding-top: 1vw;
        font-size: 1.4vw;
        color: white;
        padding-left: 11vw;
    }

    .pranay-02 {
        padding-top: 1vw;
        font-size: 1.4vw;
        color: white;
        text-align: center;
    }

    /* second-class-contact-section  */
    .contact-page-two {
        width: 100%;
        height: 15vw;
        display: flex;
        flex-direction: row;
    }

    .page-01 {
        height: 100%;
        width: 50%;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    /* part-01  */
    .part-01 {
        color: white;
        display: grid;
        grid-template-columns: 0.4fr 1fr;

    }

    .part-05 {
        font-size:1.4vw;
        padding-top: 2.8vw;
    }

    /* part-2  */
    .part-02 {

        color: white;
        display: grid;
        grid-template-columns: 0.4fr 1fr;

    }

    .part-09 {
        padding-top: 2.2vw;
        font-size: 1.4vw;

    }

    /* second-02 option  */

    .page-02 {
        height: 100%;
        width: 50%;

    }

    .iframe-tag {
        height: 18vw;
        width: 40vw;
        margin-top: 3px;
        border-radius: 20px;
        margin-left: 1vw;
    }

    /* New Page */

    /* New Page of Footer */
    .footer-page {
        width: 100%;
        height: 37vw;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* page-01 new class */

    .PAGES-01 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;

    }

    .firrst-part-of-project {
        height: 30%;
        width: 100%;
        text-align: center;
        font-size: 2vw;
        color: white;
        padding-top: 2vw;
    }

    .Second-part-of-project {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
        color: white;
        font-size: 1.2vw;

    }

    /* page-02 new class */
    .PAGES-02 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;

    }

    .first-page-001 {
        height: 30%;
        width: 100%;
        text-align: center;
        font-size: 2vw;
        color: white;
        padding-top: 2vw;
    }

    .Second-page-001 {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
        color: white;
        font-size: 1.2vw;

    }

    /* page-03 new class*/
    .PAGES-03 {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;


    }

    .first-page-012 {
        height: 30%;
        width: 100%;
        text-align: center;
        font-size: 2vw;
        color: white;
        padding-top: 2vw;
    }

    .Second-page-015 {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
        color: white;
        font-size: 1.2vw;
    }

    .image-of-social-media {
        height: 1vw;
        width: 100%;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        gap: 2vw;
        font-size: 1vw;
        text-align: center;
    }


    /* Last */
    .last-page-end {
        height: 2.3vw;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .last-one {
        width: 33%;
        font-size: 1vw;
        color: #000000;
        letter-spacing: 2px;
        padding-top: 0.5vw;
        padding-left: 1.3vw;
    }

    .last-two {
        width: 33%;
        font-size: 1vw;
        color: #000000;
        letter-spacing: 2px;
        padding-left: 10vw;
        padding-top: 0.5vw;
    }

    .last-three {
        padding-left: 10vw;
        padding-top: 0.5vw;
        width: 33%;
    }